
<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="javascript:void(0)">
        <h5 style="color:#e96919">MAHARANA PRATAP SMARAK SAMITI</h5>
      </a>   
      <span class="navbar-brand" style="font-size:25px; padding-left: 50%; font-weight: bold; font-family: Arial, Helvetica, sans-serif; color:#e96919"> {{toDay | date:'dd MMMM yyyy'}} </span>
    </div>
  </div>
</nav>
